SetEnvIf Request_URI ^.*$ VIEWS=v
SetEnvIf Request_URI ^.*$ PARTS=common-html

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.+)\/(.+)(\/)?$ index.php?controller=$1&action=$2 [QSA]

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# redirect from www to without www
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.frontendtools.net [NC]
RewriteRule ^(.*)$ https://frontendtools.net/$1 [L,R=301]

## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access 1 year"
ExpiresByType image/jpeg "access 1 year"
ExpiresByType image/gif "access 1 year"
ExpiresByType image/png "access 1 year"
ExpiresByType text/css "access 1 year"
ExpiresByType application/pdf "access 1 year"
ExpiresByType application/javascript "access 1 year"
ExpiresByType application/x-javascript "access 1 year"
ExpiresByType application/x-shockwave-flash "access 1 year"
ExpiresByType image/x-icon "access 1 year"
ExpiresDefault "access 1 year"
</IfModule>
## EXPIRES CACHING ##

# files compression
<FilesMatch "\.(css|js|ico|pdf|jpg|jpeg|png|gif|php|woff|svg|ttf)$">
SetOutputFilter DEFLATE
</FilesMatch>