.language-box {
	height: 350px;
	border: none !important;
	padding: 4px 7px !important;
	background-color: #1d1d1d !important;
	overflow: scroll;
}
@media (max-width:768px) {
	.language-box {
		height: 180px;
	}
}
.execute-box {
	position: relative;
	height: 360px;
	overflow-x: scroll;
	border: 1px solid #e4e4e4 !important;
}