.language-box {
  height: 350px;
  border: none !important;
  padding: 4px 7px !important;
  background-color: #1d1d1d !important;
  overflow: scroll;
}
@media (max-width:768px) {
  .language-box {
    height: 180px;
  }
}
.execute-box {
  position: relative;
  height: 360px;
  overflow-x: scroll;
  border: 1px solid #e4e4e4 !important;
}
.actions-codemirror {
  background: #272822;
  padding: 3px 7px 3px 3px;
  border-bottom: 1px solid #464646;
}
.actions-codemirror a {
  color: #ffffff;
}
.actions-codemirror a i {
  font-size: 14px;
  vertical-align: middle;
  margin-top: -2px;
  margin-left: 3px;
}
@media(max-width: 991px) {
  .actions-codemirror {
    display: none;
  }
}