#gradientResult {
	width: 100%;
	height: 120px;
	display: block;
	margin-bottom: 15px;
	border: 0;
	border-radius: 0;
}
.input-group-addon i {
	border: 1px solid #ccc;
}
#code {
	width: 100%;
	height: auto;
	margin-top: 15px;
}
table.directions {
	margin: 0 auto;
}
table.directions label {
	margin-bottom: 0;
}
.white {
	color: #fff;
}
.gradient {
	display: block;
	height: 66px;
  width: 100%;
  margin-bottom: 15px;
}
.gradient:hover {
	cursor: pointer;
}