.animated-fast {
	-webkit-animation-duration: .15s !important;
  animation-duration: .15s !important;
  -webkit-animation-fill-mode: both !important;
  animation-fill-mode: both !important;
}
.profile-page .profile-header .profile_info .profile-image img {
	width: 150px;
	border-radius: 50%;
	border: 0;
	box-shadow: none;
}
.profile-page .profile-header .profile_info .profile-image {
	border-radius: 50%;
	border: 3px solid #fff;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	overflow: hidden;
	width: 150px;
	height: 150px;
	margin: 0 auto;
}
.avatars.avatars-edit img {
	width: 64px;
	height: 64px;
}
.avatars img {
	margin: 6px;
}
.effectIn {
	filter: blur(5px);
  -webkit-filter: blur(5px);
}